<div class="container">
    <div class="filter_options">
        <div class="row">
            <div class="col-12 col-lg-10 col-md-10 col-sm-12">
                <form action="/maintenance/usersfilter" method="post">
                    <div class="row">
                        <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Rol</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01" name="filtro">
                                    <option value="">Todos</option>
                                    {{#each rol}}
                                    <option value="{{id_rol}}">{{rol}}</option>
                                    {{/each}}
                                </select>
                                <div class="input-group-append">
                                    <button  class="btn modal-confirm-button">Aplicar</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Buscar por usuario"
                                    aria-label="Página actual" aria-describedby="button-addon2" name="usuario">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary">Buscar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-2 col-md-2 col-sm-12">
                <button class="btn btn-outline-secondary mb-4" data-toggle="modal"
                    data-target="#users-add-modal">Agregar usuario</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h5 class="text-center">USUARIOS</h5>
</div>

<div class="container">
    <div class="tabla">
        <table class="table table-hover">
            <thead class="thead-style">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Usuario</th>
                    <th>Email</th>
                    <th>Rol</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody class="table-body">
                {{#each users}}
                <tr>
                    <td>{{id_usuario}}</td>
                    <td>{{nombre}}</td>
                    <td>{{usuario}}</td>
                    <td>{{email}}</td>
                    <td>{{rol}}</td>
                    <td class="action-buttons">
                        <button class="btn btn-editar mr-3" data-toggle="modal"
                            data-target="#users-edit-modal{{id_usuario}}"><i
                                class="fa-solid fa-pen-to-square"></i></button>

                        <button class="btn btn-eliminar" data-toggle="modal"
                            data-target="#users-delete-modal{{id_usuario}}"><i
                                class="fa-solid fa-trash-can"></i></button>
                    </td>
                </tr>
                {{> modals/useredit }}
                {{> modals/userdelete}}
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

{{> modals/useradd }}